$pfx: "about";

.#{$pfx} { 
  margin-bottom: 2.8rem;
  &__wrap {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    column-gap: $grid-gap;
    &-title {
      margin-bottom: 1.38rem;
    }
    &-desc {
      margin-bottom: 1.66rem;
    }
  }
  &__right {
    display: grid;
    grid-template-columns: 310px 290px;
    column-gap: $grid-gap;
    row-gap: $grid-gap-big;
    align-self: center;
    &_item {
      border-left: 2px solid $accent;
      padding-left: 1.66rem;
      align-self: flex-start;
      &-title {
        font-size: $fontSizeXL;
        line-height: $fontSizeBASE;
        margin-bottom: 1.1rem;
      }
      &-text {
        font-weight: normal;
        line-height: $fontSizeBASE;
        color: $gray;
      }
    }
  }
}