$pfx: "map";

.#{$pfx} {
  margin-bottom: 140px;
  @media (max-width: 992px) {
    margin-bottom: 60px;
  }
  &__head {
    background-color: $plainBackground;
    padding: 25px;
    margin-bottom: 40px;
    @media (max-width: 1200px) {
      overflow: hidden;
      overflow-x: auto;
      padding: 25px 0;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1200px) {
        justify-content: flex-start;
      }
      &_item {
        display: flex;
        align-items: center;
        padding: 0 19px;
        @media (max-width: 1200px) {
          font-size: 13px;
        }
        &:hover {
          color: $accent;
          cursor: pointer;
          svg, path {
            fill: $accent;
          }
        }
        svg {
          display: block;
        }
        span {
          display: inline-block;
          white-space: nowrap;
        }
        &-img {
          margin-right: 12px;
        }
        &-title {
          font-weight: 500;
        }
      }
    }
  }
}

##{$pfx} {
  height: 700px;
  @media (max-width: 1200px) {
    height: 500px;
  }
  @media (max-width: 992px) {
    height: 450px;
  }
}