$pfx: "pay";

.#{$pfx} {
  background-color: $plainBackground;
  margin-bottom: 133px;
  padding-top: 130px;
  padding-bottom: 160px;
  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__head {
    display: grid;
    grid-template-columns: 34% 1fr;
    margin-bottom: 75px;
    @media (max-width: 1200px) {
      grid-template-columns: 100%;
      gap: $grid-gap;
    }
  }
}

.#{$pfx}-offer {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 5.6rem;
  align-items: center;
  @media (max-width: 1200px) {
    gap: 30px;
    grid-template-columns: 50% 44%;
  }
  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
  &__img {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__form {
    @media (max-width: 992px) {
      .home-offer__form {
        grid-template-columns: 100%;
        gap: $grid-gap;
        &-col{
          &:nth-of-type(1) {
            grid-column: 1;
          }
          &:nth-of-type(2) {
            grid-column: 1;
            .form-button-primary {
              width: 100%;
              span {
                padding: 1.1em 0;
                width: 100%;
              }
            } 
          }
          &:nth-of-type(3) {
            grid-column: 1;
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 0 15px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-desc {
      color: $gray;
      margin-bottom: 47px;
    }
  }
}

.#{$pfx}-mortgage {
  display: grid;
  grid-template-columns: 50% 43%;
  gap: 5.6rem;
  align-items: center;
}

.#{$pfx}-bank { 
  &__head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    &-title {
      display: inline-block;
      color: $gray;
      font-size: 14px;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 2.35fr 1fr;
    gap: $grid-gap;
    align-items: center;
    background: $white;
    padding: 15px 20px 15px 60px;
    margin-bottom: 35px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &__logo {
      display: flex;
      align-items: center;
      &-img {
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color-dark;
        border-radius: 100%;
        margin-right: 37px;
      }
    }
    &__percent {
      font-weight: bold;
    }
  }
}

.#{$pfx}-calc {
  &__title {
    margin-bottom: 10px;
  }
  &__desc {
    color: $gray;
    margin-bottom: 40px;
  }
  &__range {
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 80px;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      &-title {
        color: $gray;
        font-size: 14px;
      }
      &-value {
        font-weight: bold;
      }
    }
  }
}