$pfx: "start";

.#{$pfx} {
	color: $white;
	margin: 140px 0;
	@media (max-width: 992px) {
		margin: 60px 0;
	}
	&__wrap {
		background: $primaryColor-3;
		display: grid;
		grid-template-columns: repeat(12,minmax(88px,1fr));
		padding: 110px 0;
		align-items: center;
		border-radius: 200px 0 200px 0;
		background-image: url(../img/start-bg.svg);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 992px) {
			grid-template-columns: 70%;
			justify-content: center;
			gap: $grid-gap;
		}
		@media (max-width: 576px) {
			border-radius: 60px 0 60px 0;
			grid-template-columns: 80%;
			padding: 50px 0;
		}
		@media (max-width: 768px) {
			.home-offer__form {
				grid-template-columns: 100%;
				gap: $grid-gap;
				&-col{
					&:nth-of-type(1) {
						grid-column: 1;
					}
					&:nth-of-type(2) {
						grid-column: 1;
						.form-button-primary {
							width: 100%;
							span {
								padding: 1.1em 0;
								width: 100%;
							}
						} 
					}
					&:nth-of-type(3) {
						grid-column: 1;
					}
				}
			}
		}
		&__content {
			grid-column: 3/6;
			@media (max-width: 1530px) {
				grid-column: 2/6;
			}
			@media (max-width: 992px) {
				grid-column: 1;
			}
			&-title {
				line-height: 1;
				margin-bottom: 20px;
			}
			&-desc {
				strong {
					display: inline-block;
				}
			}
		}
		&__form {
			grid-column: 7/11;
			@media (max-width: 1530px) {
				grid-column: 6/11;
			}
			@media (max-width: 992px) {
				grid-column: 1;
			}
		}
	}
}