$pfx: "video";

.#{$pfx} {
  margin-bottom: 140px;
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
  &__head {
    display: grid;
    grid-template-columns: 42% 1fr;
    align-items: center;  
    margin-bottom: 60px;
    gap: $grid-gap;
    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }
    &-desc {
      padding-top: 17px;
    }
  }
  &__wrap {
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    border-radius: 0 200px 0 200px;
    @media (max-width: 768px) {
      border-radius: 0 60px 0 60px;
    }
  }
}