<% var data = { title: "Главная", author: "sm" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<main class="main">
	<section class="home-block">
		<div class="container">
			<div class="home-block__wrap">
				<div class="home-block__wrap-col">
					<div class="home-offer">
						<h1 class="home-offer__title">
							Квартиры<br />
							в Краснодаре<br />
							от 1 млн руб.
						</h1>
						<span class="home-offer__start">Старт продаж!</span>

						<form class="home-offer__form">
							<div class="home-offer__form-col form-input">
								<input
								type="tel"
								class="js-phone required"
								autocomplete="off"
								name="ORDER[PHONE]"
								placeholder="+7 (___) ___-__-__"
								/>
							</div>
							<div class="home-offer__form-col">
								<button class="form-button-primary">
									<span>Узнать больше</span>
								</button>
							</div>
							<div class="home-offer__form-col form-checkbox">
								<label class="checkbox">
									<input
									class="checkbox__input required"
									name="privacy"
									type="checkbox"
									checked=""
									/>
									<div class="checkbox__toggle"></div>
									<div class="checkbox__text">
										Я даю согласие на <a href="#">обработку персональных данных</a>
									</div>
								</label>
							</div>
						</form>
					</div>
				</div>
				<div class="home-block__wrap-col">
					<div class="home-block__img">
						<img
						class="home-block__img-top"
						src="./img/home-block-top.svg"
						alt=""
						/>
						<img src="img/bg-home.png" alt="" />
						<img
						class="home-block__img-bot"
						src="./img/home-block-bot.svg"
						alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="page1" class="about">
		<div class="container">
			<div class="about__wrap">
				<div class="about__left">
					<h2 class="about__wrap-title">Дом в тихом районе</h2>
					<p class="about__wrap-desc">
						ЖК «Зеленодар» — монолитно-кирпичный дом на улице 3-я Трудовая, в
						северной части Краснодара. Уютный район удалён от городского шума.
						Здесь много частных и малоэтажных домов. Тихое местечко для
						размеренной жизни.
					</p>
					<a class="link" href="#"
					><svg
					width="34"
					height="34"
					viewBox="0 0 34 34"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
					>
					<path
					d="M11.8646 15.9131L11.9353 15.8424L11.8646 15.9131L16.3333 20.3817C16.3333 20.3817 16.3333 20.3817 16.3333 20.3817C16.5101 20.5586 16.7499 20.6579 17 20.6579C17.25 20.6579 17.4899 20.5585 17.6667 20.3817L22.1353 15.913L22.1353 15.913C22.5034 15.5448 22.5034 14.9478 22.1352 14.5796C21.767 14.2115 21.17 14.2114 20.8018 14.5796L20.8725 14.6503L20.8018 14.5796L17.9429 17.4387L17.9428 8.68904C17.9428 8.16833 17.5207 7.74619 17 7.74619C16.4793 7.74619 16.0571 8.16833 16.0571 8.68904L16.0572 17.4388L13.198 14.5797C12.8299 14.2115 12.2328 14.2115 11.8646 14.5797C11.4964 14.948 11.4964 15.5449 11.8646 15.9131Z"
					fill="#3DB548"
					stroke="#3DB548"
					stroke-width="0.2"
					/>
					<path
					d="M25.1252 22.8745H8.87508C8.35437 22.8745 7.93223 23.2966 7.93223 23.8173C7.93223 24.338 8.35437 24.7602 8.87508 24.7602H25.1252C25.6459 24.7602 26.068 24.338 26.068 23.8173C26.068 23.2966 25.6459 22.8745 25.1252 22.8745Z"
					fill="#3DB548"
					stroke="#3DB548"
					stroke-width="0.2"
					/></svg
					>Скачать документы</a
					>
				</div>
				<div class="about__right h-end">
					<div class="about__right_item d-flex f-column">
						<span class="about__right_item-title">1 литер</span>
						<span class="about__right_item-text">сдача в 4 кв. 2021 года</span>
					</div>
					<div class="about__right_item d-flex f-column">
						<span class="about__right_item-title">2 литер</span>
						<span class="about__right_item-text">сдача в 4 кв. 2021 года</span>
					</div>
					<div class="about__right_item d-flex f-column">
						<span class="about__right_item-title">3 литер</span>
						<span class="about__right_item-text">сдача в 4 кв. 2021 года</span>
					</div>
					<div class="about__right_item d-flex f-column">
						<span class="about__right_item-title">214-ФЗ</span>
						<span class="about__right_item-text">строительство по закону</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="presentation">
		<div class="container">
			<h3 class="presentation__title">Получите презентацию о ЖК</h3>
			<div class="presentation__form">
				<div class="presentation__form-col form-input">
					<input
					type="email"
					class="js-email required"
					autocomplete="off"
					name="ORDER[EMAIL]"
					placeholder="E-mail"
					/>
				</div>
				<div class="presentation__form-col">
					<button class="form-button-primary">
						<span>Получить презентацию</span>
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="stock">
		<div class="container">
			<div class="stock-slider">
				<%=
				_.template(require('./../includes/blocks/stockSlide.html').default)() %>
				<%=
				_.template(require('./../includes/blocks/stockSlide.html').default)() %>
				<%=
				_.template(require('./../includes/blocks/stockSlide.html').default)() %>
			</div>
		</div>
	</section>

	<section class="features">
		<div class="container">
			<h2>Особенности ЖК</h2>
			<div class="features-slider count arrow-right">
				<div>
					<div class="features-slider__top">
						<div class="features-slider__top-wrap">
							<span class="features-slider__top-current"></span>
							<h3 class="features-slider__top-title">Про двор</h3>
							<p>
								Равным образом постоянное информационно-пропагандистское
								обеспечение нашей деятельности позволяет выполнять важные
								задания по разработке позиций, занимаемых участниками.
							</p>
						</div>
					</div>
					<div class="features-slider__bot">
						<a class="fancybox" href="./img/photo1.jpg"><img src="./img/photo1.jpg" alt="" /></a>
						<a class="fancybox" href="./img/photo2.jpg"><img src="./img/photo1.jpg" alt="" /></a>
					</div>
				</div>
				<div>
					<div class="features-slider__top">
						<div class="features-slider__top-wrap">
							<span class="features-slider__top-current"></span>
							<h3 class="features-slider__top-title">Про двор</h3>
							<p>
								Равным образом постоянное информационно-пропагандистское
								обеспечение нашей деятельности позволяет выполнять важные
								задания по разработке позиций, занимаемых участниками.
							</p>
						</div>
					</div>
					<div class="features-slider__bot">
						<img src="./img/photo1.jpg" alt="" />
						<img src="./img/photo2.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="video">
		<div class="container">
			<div class="video__head">
				<h2 class="video__head-title">Видео по микрорайону</h2>
				<p class="video__head-desc">Краткое описание</p>
			</div>
			<div class="video__wrap">
				<a href="http://www.youtube.com/embed/L9szn1QQfas?enablejsapi=1&wmode=opaque" class="play fancybox fancybox.iframe">
					<img src="./img/video.jpg" alt="" />
				</a>
			</div>
		</div>
	</section>

	<section id="page2" class="layouts tabs">
		<div class="container">
			<div class="layouts__head">
				<div class="layouts__head-col">
					<h2>Планировки</h2>
				</div>
				<div class="layouts__head-col">
					<div class="tabs__wrap">
						<div class="tabs__item tabs__item--active" data-target="layouts-1">
							<span>Студии</span>
						</div>
						<div class="tabs__item" data-target="layouts-2">
							<span>1-комнатные</span>
						</div>
						<div class="tabs__item" data-target="layouts-3">
							<span>2-комнатные</span>
						</div>
						<div class="tabs__item" data-target="layouts-4">
							<span>3-комнатные</span>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs-content">
				<div class="tabs-content__item tabs-content__item--active" data-id="layouts-1">
					<div class="layouts-slide more-one-slide">
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-content__item" data-id="layouts-2">
					<div class="layouts-slide more-one-slide">
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">1-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-content__item" data-id="layouts-3">
					<div class="layouts-slide more-one-slide">
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">2-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-content__item" data-id="layouts-4">
					<div class="layouts-slide more-one-slide">
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
						<div>
							<div class="layouts-slide__item">
								<div class="layouts-slide__item-img">
									<img src="./img/kv.jpg" alt="">
								</div>
								<p class="layouts-slide__item--title">3-комнатная</p>
								<a class="form-button form-button-primary fancybox" href="#call-me" ><span>Узнать цену</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="page3" class="repair">
		<div class="container">
			<div class="repair__head">
				<div class="repair__head-title">
					<h2>
						Квартира<br />
						с готовым ремонтом
					</h2>
				</div>
				<div class="repair__head-desc">
					<p>
						Закажите ремонт от застройщика, и останется перевезти только мебель
						и вещи. Мы делаем ремонт в больших объемах, поэтому предлагаем
						демократичные цены.
					</p>
				</div>
			</div>

			<div class="repair__wrap">
				<div class="repair__wrap-col">
					<div class="repair__slide slide-white-btn">
						<div><img src="./img/repair.jpg" alt="" /></div>
						<div><img src="./img/repair.jpg" alt="" /></div>
						<div><img src="./img/repair.jpg" alt="" /></div>
						<div><img src="./img/repair.jpg" alt="" /></div>
					</div>
				</div>

				<div class="repair__wrap-col">
					<div class="repair__content">
						<h3 class="repair__content-title">Что входит в ремонт</h3>
						<div class="repair__list">
							<div class="repair__list-col">
								<ul class="list">
									<li>Обои под покраску</li>
									<li>Натяжной потолок</li>
									<li>Ламинат и плинтуса</li>
									<li>Межкомнатные двери</li>
								</ul>
							</div>
							<div class="repair__list-col">
								<ul class="list">
									<li>Розетки и выключатели</li>
									<li>Люстры и лампы</li>
									<li>Плитка и сантехника в ванной</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="repair__form">
						<form class="home-offer__form">
							<div class="home-offer__form-col form-input">
								<input
								type="tel"
								class="js-phone required"
								autocomplete="off"
								name="ORDER[PHONE]"
								placeholder="+7 (___) ___-__-__"
								/>
							</div>
							<div class="home-offer__form-col">
								<button class="form-button-primary">
									<span>Узнать о ремонте</span>
								</button>
							</div>
							<div class="home-offer__form-col form-checkbox">
								<label class="checkbox">
									<input
									class="checkbox__input required"
									name="privacy"
									type="checkbox"
									checked=""
									/>
									<div class="checkbox__toggle"></div>
									<div class="checkbox__text">
										Я даю согласие на <a href="#">обработку персональных данных</a>
									</div>
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="page4" class="pay tabs">
		<div class="container">
			<div class="pay__head">
				<div class="pay__head-col">
					<h2>Способы оплаты</h2>
				</div>
				<div class="pay__head-col">
					<div class="tabs__wrap">
						<div class="tabs__item tabs__item--active" data-target="pay-1">
							<span>Дистанционная оплата</span>
						</div>
						<div class="tabs__item" data-target="pay-2">
							<span>Ипотека</span>
						</div>
						<div class="tabs__item" data-target="pay-3">
							<span>Рассрочка</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs-content">
			<div class="tabs-content__item tabs-content__item--active" data-id="pay-1">
				<div class="pay-offer">
					<div class="pay-offer__img">
						<img src="./img/offer1.jpg" alt="">
					</div>
					<div class="pay-offer__form">
						<h3 class="pay-offer__form-title">Дистанционная оплата</h3>
						<p class="pay-offer__form-desc">Оформляем рассрочку на 3, 6, 12 или 18 месяцев.<br> Первоначальный взнос от 50%</p>
						<div class="pay-offer__form-form">
							<form class="home-offer__form">
								<div class="home-offer__form-col form-input">
									<input type="tel" class="js-phone required" autocomplete="off" name="ORDER[PHONE]" placeholder="+7 (___) ___-__-__"/>
								</div>
								<div class="home-offer__form-col">
									<button class="form-button-primary">
										<span>Узнать о способах покупки</span>
									</button>
								</div>
								<div class="home-offer__form-col form-checkbox">
									<label class="checkbox">
										<input class="checkbox__input required" name="privacy" type="checkbox" checked=""/>
										<div class="checkbox__toggle"></div>
										<div class="checkbox__text">
											Я даю согласие на <a href="#">обработку персональных данных</a>
										</div>
									</label>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs-content__item" data-id="pay-2">
				<div class="container">
					<div class="pay-mortgage">
						<div class="pay-mortgage__col">
							<div class="pay-bank">
								<div class="pay-bank__head">
									<span class="pay-bank__head-title">Банк</span>
									<span class="pay-bank__head-title">Ставка</span>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo1.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">Сбербанк</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6,4%</span>
									</div>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo2.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">ВТБ</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6,5%</span>
									</div>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo3.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">Промсвязьбанк</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6%</span>
									</div>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo4.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">АкБарс</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6%</span>
									</div>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo5.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">Дом.РФ</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6,1%</span>
									</div>
								</div>

								<div class="pay-bank__item">
									<div class="pay-bank__item__logo">
										<span class="pay-bank__item__logo-img">
											<img src="./img/logo6.svg" alt="">
										</span>
										<span class="pay-bank__item__log-title">Абсолют банк</span>
									</div>
									<div class="pay-bank__item__percent">
										<span>6,25%</span>
									</div>
								</div>

							</div>
						</div>
						<div class="pay-mortgage__col">
							<div class="pay-calc">
								<h3 class="pay-calc__title">Ипотечный калькулятор</h3>
								<p class="pay-calc__desc">Мы сотрудничаем со многими банками и поможем<br> подобрать лучшие условия</p>

								<div class="pay-calc__range">
									<div class="pay-calc__range__wrap">
										<span class="pay-calc__range__wrap-title">Стоимость квартиры, руб.</span>
										<span class="pay-calc__range__wrap-value" id="calc-price-value"></span>
									</div>
									<div id="calc-price"></div>
								</div>

								<div class="pay-calc__range">
									<div class="pay-calc__range__wrap">
										<span class="pay-calc__range__wrap-title">Первоначальный взнос, руб.</span>
										<span class="pay-calc__range__wrap-value" id="calc-initial-value"></span>
									</div>
									<div id="calc-initial"></div>
								</div>

								<div class="pay-calc__range">
									<div class="pay-calc__range__wrap">
										<span class="pay-calc__range__wrap-title">Срок кредита, лет</span>
										<span class="pay-calc__range__wrap-value" id="calc-year-value"></span>
									</div>
									<div id="calc-year"></div>
								</div>

								<form class="home-offer__form">

									<input type="text" hidden id="price-input">
									<input type="text" hidden id="initial-input">
									<input type="text" hidden id="year-input">

									<div class="home-offer__form-col form-input">
										<input type="tel" class="js-phone required" autocomplete="off" name="ORDER[PHONE]" placeholder="+7 (___) ___-__-__"/>
									</div>
									<div class="home-offer__form-col">
										<button class="form-button-primary">
											<span>Узнать о способах покупки</span>
										</button>
									</div>
									<div class="home-offer__form-col form-checkbox">
										<label class="checkbox">
											<input class="checkbox__input required" name="privacy" type="checkbox" checked=""/>
											<div class="checkbox__toggle"></div>
											<div class="checkbox__text">
												Я даю согласие на <a href="#">обработку персональных данных</a>
											</div>
										</label>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabs-content__item" data-id="pay-3">
				<div class="pay-offer">
					<div class="pay-offer__img">
						<img src="./img/offer2.jpg" alt="">
					</div>
					<div class="pay-offer__form">
						<h3 class="pay-offer__form-title">Рассрочка</h3>
						<p class="pay-offer__form-desc">Оформляем рассрочку на 3, 6, 12 или 18 месяцев.<br> Первоначальный взнос от 50%</p>
						<div class="pay-offer__form-form">
							<form class="home-offer__form">
								<div class="home-offer__form-col form-input">
									<input
									type="tel"
									class="js-phone required"
									autocomplete="off"
									name="ORDER[PHONE]"
									placeholder="+7 (___) ___-__-__"
									/>
								</div>
								<div class="home-offer__form-col">
									<button class="form-button-primary">
										<span>Узнать о способах покупки</span>
									</button>
								</div>
								<div class="home-offer__form-col form-checkbox">
									<label class="checkbox">
										<input
										class="checkbox__input required"
										name="privacy"
										type="checkbox"
										checked=""
										/>
										<div class="checkbox__toggle"></div>
										<div class="checkbox__text">
											Я даю согласие на <a href="#">обработку персональных данных</a>
										</div>
									</label>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="page5" class="infrastructure">
		<div class="container">
			<div class="infrastructure__head">
				<h2 class="infrastructure__head-title">Инфраструктура</h2>
				<p class="infrastructure__head-desc">
					Всё необходимое в пешей доступности
				</p>
			</div>

			<div class="infrastructure-slider more-one-slide count arrow-right">
				<div>
					<img
					class="infrastructure-slider__img"
					src="./img/infro1.jpg"
					alt=""
					/>
					<div class="infrastructure-slider__content">
						<h3 class="infrastructure-slider__content-title">Школа №65</h3>
						<div class="infrastructure-slider__content-desc">
							<p>9 минут пешком</p>
						</div>
					</div>
				</div>
				<div>
					<img
					class="infrastructure-slider__img"
					src="./img/infro1.jpg"
					alt=""
					/>
					<div class="infrastructure-slider__content">
						<h3 class="infrastructure-slider__content-title">
							Городская<br />
							поликлиника №8
						</h3>
						<div class="infrastructure-slider__content-desc">
							<p>27 минут пешком</p>
						</div>
					</div>
				</div>
				<div>
					<img
					class="infrastructure-slider__img"
					src="./img/infro1.jpg"
					alt=""
					/>
					<div class="infrastructure-slider__content">
						<h3 class="infrastructure-slider__content-title">
							Детская поликлиника №8
						</h3>
						<div class="infrastructure-slider__content-desc">
							<p>20 минут пешком</p>
						</div>
					</div>
				</div>
				<div>
					<img
					class="infrastructure-slider__img"
					src="./img/infro1.jpg"
					alt=""
					/>
					<div class="infrastructure-slider__content">
						<h3 class="infrastructure-slider__content-title">
							Ясли-сад «Солнышко»
						</h3>
						<div class="infrastructure-slider__content-desc">
							<p>17 минут пешком</p>
						</div>
					</div>
				</div>
				<div>
					<img
					class="infrastructure-slider__img"
					src="./img/infro1.jpg"
					alt=""
					/>
					<div class="infrastructure-slider__content">
						<h3 class="infrastructure-slider__content-title">
							Ясли-сад «Солнышко»
						</h3>
						<div class="infrastructure-slider__content-desc">
							<p>17 минут пешком</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%= _.template(require('./../includes/blocks/map.html').default)(data) %>

	<section id="page6" class="developer">
		<div class="container">
			<div class="developer__wrap">
				<div class="developer__wrap-col">
					<h2>О застройщике</h2>
					<div class="developer__desc">
						<p>Строительство ЖК «Зеленодар» ведёт компания «АСК» в составе холдинга
							AVA Group. У нас парк спецтехники, проектный институт, предприятия
							инженерной инфраструктуры, поэтому мы строим качественные дома
							без посредников. Причастность к холдингу обеспечивает
						также финансовую стабильность застройщика</p>
					</div>
					<div class="developer__ask">
						<img src="./img/ask.svg" alt="">
					</div>
				</div>
				<div class="developer__wrap-col">
					<div class="developer-number">
						<div class="developer-number__item">
							<span class="developer-number__item-number">8</span>
							<span class="developer-number__item-text">лет в девелопменте</span>
						</div>
						<div class="developer-number__item">
							<span class="developer-number__item-number">52</span>
							<span class="developer-number__item-text">домов построили<br> и сдали</span>
						</div>
						<div class="developer-number__item">
							<span class="developer-number__item-number">ТОП-5</span>
							<span class="developer-number__item-text">среди застройщиков<br> Краснодарского края</span>
						</div>
					</div>

					<a class="link" href="#">
						<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.8646 15.9131L11.9353 15.8424L11.8646 15.9131L16.3333 20.3817C16.3333 20.3817 16.3333 20.3817 16.3333 20.3817C16.5101 20.5586 16.7499 20.6579 17 20.6579C17.25 20.6579 17.4899 20.5585 17.6667 20.3817L22.1353 15.913L22.1353 15.913C22.5034 15.5448 22.5034 14.9478 22.1352 14.5796C21.767 14.2115 21.17 14.2114 20.8018 14.5796L20.8725 14.6503L20.8018 14.5796L17.9429 17.4387L17.9428 8.68904C17.9428 8.16833 17.5207 7.74619 17 7.74619C16.4793 7.74619 16.0571 8.16833 16.0571 8.68904L16.0572 17.4388L13.198 14.5797C12.8299 14.2115 12.2328 14.2115 11.8646 14.5797C11.4964 14.948 11.4964 15.5449 11.8646 15.9131Z" fill="#3DB548" stroke="#3DB548" stroke-width="0.2">
							</path>
							<path d="M25.1252 22.8745H8.87508C8.35437 22.8745 7.93223 23.2966 7.93223 23.8173C7.93223 24.338 8.35437 24.7602 8.87508 24.7602H25.1252C25.6459 24.7602 26.068 24.338 26.068 23.8173C26.068 23.2966 25.6459 22.8745 25.1252 22.8745Z" fill="#3DB548" stroke="#3DB548" stroke-width="0.2"></path>
						</svg>
						Скачать документы
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="start">
		<div class="container">
			<div class="start__wrap">
				<div class="start__wrap__content">
					<h2 class="start__wrap__content-title">Дом на старте продаж!</h2>
					<p class="start__wrap__content-desc">Успейте приобрести квартиру в Краснодаре по цене<br> <strong>от 39 000 ₽/м2!</strong></p>
				</div>
				<div class="start__wrap__form">
					<form class="home-offer__form">
						<div class="home-offer__form-col form-input form-input-secondary">
							<input
							type="tel"
							class="js-phone required"
							autocomplete="off"
							name="ORDER[PHONE]"
							placeholder="+7 (___) ___-__-__"
							/>
						</div>
						<div class="home-offer__form-col">
							<button class="form-button-primary">
								<span>Узнать больше</span>
							</button>
						</div>
						<div class="home-offer__form-col form-checkbox">
							<label class="checkbox checkbox-white">
								<input
								class="checkbox__input required"
								name="privacy"
								type="checkbox"
								checked=""
								/>
								<div class="checkbox__toggle"></div>
								<div class="checkbox__text">
									Я даю согласие на <a href="#">обработку персональных данных</a>
								</div>
							</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section id="page8" class="contacts">
		<div class="container">

			<div class="contacts__head">
				<div class="contacts__head-title">
					<h2>Контакты</h2>
				</div>
				<div class="contacts__head-content">
					<div class="contacts-items">

						<div class="contacts-items__item">
							<img class="contacts-items__item-img" src="./img/phones.svg" alt="">
							<div class="contacts-items__item-text">
								<a class="contacts-items__phone" href="tel:">8 (861) ххх-хх-хх</a>
								<a class="contacts-items__mail" href="mailto:email@mail.ru">email@mail.ru</a>
							</div>
						</div>

						<div class="contacts-items__item contacts-items__item_adres">
							<img class="contacts-items__item-img" src="./img/map-pin.svg" alt="">
							<div class="contacts-items__item-text">
								<p>Адрес ЖК:</p>
								<p><strong>Краснодар, 3-я Трудовая, 1/3</strong></p>
							</div>
						</div>

						<div class="contacts-items__item">
							<div class="contacts-items__item-text">
								<p>Адрес отдела продаж:</p>
								<p><strong>Краснодар, 3-я Трудовая, 1/3</strong></p>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div id="contacts-map"></div> 
	</section>

</main>

<%= _.template(require('./../includes/modals.html').default)() %> <%=
_.template(require('./../includes/footer.html').default)(data) %>
