$pfx: "form-input";

.#{$pfx} {
  label {
    display: flex;
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 20px;
    font-size: 1rem;
    color: $input-placeholder-color;
  }

  input {
    border-color: $input-border-color;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    display: flex;
    align-items: center;
    background-color: $neutralColor;
    border-radius: 3px;
    padding: 0 1.25rem;
    font-size: 1rem;
    line-height: 1;
    color: $input-color;
    height: 68px;
    width: 100%;
    background: $input-bg;
    border-radius: $input-border-radius;
    &::placeholder {
      color: $input-placeholder-color;
    }
  }
}