$pfx: "form-button";

.#{$pfx} {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s, transform 0.3s,
  border-color 0.3s;
  color: $neutralColor;
  border: 0;
  span {
    color: $neutralColor;
  }
  svg {
    margin-left: 1rem;
    fill: currentColor
  }

  &-primary {
    border-radius: 30px 0px 30px 0px;
    font-weight: normal;
    background: $gradientLinear;
    position: relative;
    transition: all .3s;
    @media (max-width: 576px) {
      width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 30px 0px 30px 0px;
      background: $gradientLinearHover;
      opacity: 0;
      transition: all .3s;
    }
    &:hover {
      cursor: pointer;
      &:before {
        opacity: 1;
        transition: all .3s;
      }
    }
    span {
      padding: 1.1em 2.6em;
      position: relative;
      z-index: 1;
      display: block;
      color: $white;
      text-align: center;
      width: 100%;
    }
  }
  &-secondary {
    background-color: none;
  }
  &-tertiary {
    background-color: $bodyBackground;
    span {
      color: $bodyColorInverse;
    }
  }
  &-tertiary-outline {
    background-color: transparent;
    border: solid 2px $bodyBackground;
    span {
      color: $bodyBackground;
    }
    svg {
      fill: $bodyBackground;
    }
    &:hover {
      background-color: $bodyBackground;
      color: $bodyColorInverse;
      span {
        color: $bodyColorInverse;
      }
      svg {
        fill: $bodyColorInverse;
      }
    }
  }
/*
* size btn
*/
&-sm {
  height: 37px;
  span {
    font-size: 1rem;
  }
}
&-base {
  height: 52px;
  span {
    font-size: 1rem;
  }
}

&:disabled {
  cursor: not-allowed;
}
}