// App
//
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-weight: normal;
  @media (max-width: 768px) {
    font-size: 16px; 
  }
}
body {
  color: $neutralColor;
  background-color: $bodyBackground;
  font-family: 'Gotham Pro';
  overflow-x: hidden; // fix: Некоторые блоки могут выходить за пределы по горизонтале
  color: $bodyColor;
  font-weight: 400;
  line-height: $lineHeight;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
}

h2, h3 {
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1529px;
  width: 100%;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}

svg.inlineIcon {
  fill: currentColor;
  height: 1rem;
}

main {
  margin: 0 auto;
  position: relative;
  // max-width: 1920px;
  width: 100%;
  overflow: hidden;
}

strong {
  font-weight: bold;
}

.error_field {
  textarea,
  input {
    border: solid 1px #ec3e3f !important;
  }
}

section {
  h2 {
    font-family: Museo Cyrl;
    font-size: $fontSize2XL;
  }
  h3 {
    font-size: $fontSizeXL;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 35px; 
    }
  }
}

.link {
  color: $accent;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  &:hover {
    color: $primaryColor-3;
    svg, path {
      fill: $primaryColor-3;
    }
  }
}

.count {
  &__wrap {
    position: absolute;
    font-weight: 400;
    color: $gray;
    right: 175px;
    top: 20px;
    font-size: 14px;
  }
}

.play {
  display: block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 123px;
    height: 123px;
    background: $white;
    box-shadow: 0px 10px 50px rgba(40, 36, 36, 0.1);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all .2s ease-out;
    @media (max-width: 576px) {
      width: 60px;
      height: 60px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 35px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    transition: all .2s ease-out;
    margin-left: 2px;
    @media (max-width: 576px) {
      width: 13px;
      height: 15px;
    }    
  }
  &:hover {
    &:before {
      width: 140px;
      height: 140px;
      @media (max-width: 576px) {
        width: 60px;
        height: 60px;
      }
    }
    &:after {
      width: 34px;
      height: 39px;
      @media (max-width: 576px) {
        width: 13px;
        height: 15px;
      } 
    }
  }
}

.list {
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 19px;
      height: 13px;
      background: url(../img/list.svg) no-repeat;
      background-size: cover;
      background-position: 50%;
    }
  }
}

// mixins for fix styles fancybox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}