// App
//
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-weight: normal;
}
body {
  color: $neutralColor;
  background-color: $bodyBackground;
  font-family: 'Gotham Pro';
  overflow-x: hidden; // fix: Некоторые блоки могут выходить за пределы по горизонтале
  color: $bodyColor;
  font-weight: 500;
  line-height: $lineHeight;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1529px;
  width: 100%;
  @media (max-width: 1300px) {
    padding: 0 1rem;
  }
}

svg.inlineIcon {
  fill: currentColor;
  height: 1rem;
}

main {
  margin: 0 auto;
  position: relative;
  // max-width: 1920px;
  width: 100%;
}


.error_field {
  textarea,
  input {
    border: solid 1px #ec3e3f !important;
  }
}

section {
  h2 {
    font-family: Museo Cyrl;
    font-size: $fontSize2XL;
  }
  h3 {
    font-size: $fontSizeXL;
  }
}

.link {
  color: $accent;
  display: inline-flex;
  align-items: center;
}

// mixins for fix styles fancybox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}